*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	background-color: hsl(30, 38%, 92%);
	font-size: 3.6rem;
}

main {
	height: 80%;
	width: 95%;
}
.card {
	position: relative;
	border-radius: 0.2em;
	background-color: hsl(0, 0%, 100%);
	padding-bottom: 1em;
	margin: 0.2em;
	&__image {
		width: 100%;
		border-radius: 0.2em 0.2em 0 0;
		object-fit: contain;
		object-position: center;
		background-color: hsl(0, 0%, 100%);
		overflow: hidden;
	}

	&__content {
		margin: 0 0.3em;
		&--category {
			color: hsl(228, 12%, 48%);
			font-size: 0.25em;
			letter-spacing: 0.3em;
			font-weight: 500;
			margin: 0.5em 0;
		}

		&--title {
			font-family: 'Fraunces', serif;
			font-size: 0.7em;
			font-weight: 700;
		}

		&--description {
			font-size: 0.36em;
			font-weight: 500;
			color: hsl(228, 12%, 44%);
			margin: 0.5em 0;
		}
		&--prices {
			margin: 0.3em 0;
			&--price {
				display: inline-block;
				font-size: 0.6em;
				font-weight: 700;

				&--new {
					color: hsl(158, 36%, 37%);
					font-family: 'Fraunces', serif;
				}
				&--old {
					position: relative;
					color: hsl(228, 12%, 48%);
					text-decoration: line-through;
					font-size: 0.28em;
					top: -10px;
				}
			}
		}

		&--btn {
			height: 4.5em;
			width: 90%;
			border-radius: 0.8em;
			border: none;
			background-color: hsl(158, 36%, 37%);
			color: hsl(0, 0%, 100%);
			cursor: pointer;

			display: block;
			margin: 0 auto;

			&-text {
				font-size: 1.5em;
				font-weight: 700;
			}
			&-icon {
				margin-right: 0.8em;
			}
		}
	}
}

@media (min-width: 1440px) {
	main {
		height: fit-content;
		max-width: 41vw;
	}

	.card {
		display: grid;
		grid-template-columns: 1fr 1fr;

		height: auto;
		font-size: 0.8em;
		padding: 0;

		&__image {
			height: 100%;
			object-fit: cover;
			width: auto;
			max-width: 100%;
			border-radius: 0.2em 0 0 0.2em;
		}

		&__content {
			height: 100%;
			padding: 0.3em 0.5em;
		}
	}
}
